fastapi==0.110.0
fastjsonschema==2.19.1
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
pyarmor==8.5.2
pyarmor.cli.core==6.5.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyflakes==2.4.0
Pygments==2.17.2
pyinstaller==5.6
pyinstaller-hooks-contrib==2024.3
pytest==7.4.4
pytest-pylint==0.19.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyyaml_env_tag==0.1
requests==2.31.0
requests-toolbelt==1.0.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
urllib3==2.2.1
uvicorn==0.29.0
watchdog==4.0.0